// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html,body{
  background-color: #fff;
  width:100%;
  height:100vh;
  margin:0;
  padding:0;
}

html {
  scroll-behavior: smooth;
}


.carousel-photo-1 {
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset_url("c1.jpeg");
}

.carousel-photo-2 {
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset_url("c2.jpeg");
}

.carousel-photo-3 {
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset_url("c3.jpeg");	
}

.carousel-photo-4 {
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset_url("c4.jpeg");	
}

.carousel-photo-5 {
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset_url("c5.jpeg");	
}

.carousel-photo-6 {
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset_url("c6.jpeg");	
}

.carousel-item {
  background-size: cover;
  background-position: center;
  height: 460px;
}

.carousel {
  margin-top: 100px;
  height: 460px;
}

// ------------------------------------------------------------------
// /////////////////////ABOUT SECTION////////////////////////////////////

.about-title {
	background-color: #ade8f4;
	padding: 20px;
}

#about-section {
	// padding: 70px;
	// margin-top: 50px;
}

.about-description {
	color: rgba(0, 0, 0, 0.5);
}

.mona-image {
	width: 310px;
	height: 390px;
}

.mona-image-description {
	color: rgba(0, 0, 0, 0.5);
}

.image-description {
	line-height: 1.8;
}

.quotes {
  font-family: 'Lobster', cursive;
  letter-spacing: 0.2em;
  padding: 5px;
  width: 1104px;
}

.blockquote-paragraph {
	color: #5bc0be;
}

// /////////////////////Review- section///////////////////////////////////////////////

.rating-card {
	width: 200px;
	height: 250px;
	word-wrap: break-word;
}

.carousel-2 {
	height: 200px;
}

.slider {
	background-color: black;
	// color: black;
}

// ////////////////////////////Some Favourite arts///////////////////////////////////

.card {
	height: 420px;
	margin-bottom: 25px;
	border-radius: 10px;
}


.card-image {
	height: 300px;
	border-radius: 10px 10px 0 0;
}

.card-body {
	overflow: scroll;
}

.card-text {
	color: #5bc0be;
}

.card-boxes:hover{
  transform: translateY(-10px);
  transition: all ease 0.5s;
}


// //////////////////////////////cards-div//////////////////////////////////////////

.cards-main{
	height: 50px;
} 


.card-1 {
	width: 55px;
	margin-bottom: 12px;
	margin-right: 10px;
}

.card-div {
	display: flex;
	justify-content: center;
	align-items: center;
}






