
<div class="footer">
  <div class="footer-copyright d-flex">
    <a href="#" class="text-decoration-none trademark">&copy; Virgo ArtGallery 2020</a>&nbsp|
    <a class="text-decoration-none text-dark">&nbspTerms&nbsp</a>|&nbsp
    <a class="text-decoration-none text-dark">Privacy Policy</a>
  </div>
  <div class="footer-links">
    <a href="https://github.com/RohitSharma66" target="blank"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/mrrohitsharma/" target="blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
