<%= render 'shared/navbarless'  %>

<div class="">
    <div id="contact">
        <div class="contact">
            <h4 class="p-2" style="color: rgba(0, 0, 0, 0.5)"><i>Say Hello!</i></h4>
            <h1>
                Thank you for your message!
            </h1>
            <p style="color: rgba(0, 0, 0, 0.5)">
                I'll get back to you soon.
            </p>
        </div>
    </div>
</div>