#contact {
    background-image: url('contactpic2.jpeg');
    height: 80vh;
    background-position: center;
    position: relative;
}

.contact {
    position: absolute;
    top: 0;
    right: 30;
    margin-top: 90px;
    margin-left: 600px;
}