.footer {
  // background: #F4F4F4;
  background: #353535;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 0px 50px;
  color: #fff;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: #fff;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
  color: #5bc0be;
}

.trademark {
  color: #5bc0be;
}

.full-page{
  min-height: calc(100vh - 70px);
}