// @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.navbar-lewagon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-family: calibri;
  background-color: #fff;
  padding: 10px 20px;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  padding: 3px;
}

.logo {
	height: 90px;
  width: 110px;
}

#home-button {
  background-color: #353535;
  border-radius: 6px;
  color: #fff !important;
}

.nav-link:hover {
   border-radius: 6px;
  background-color: #353535;
  color: #FFFFFF !important;
  transition: all ease 1s;
}

.submitt-btn{
  border-radius: 5px;
}

